
# PlanAhead Generated physical constraints 

NET "A[3]" LOC = R20;
NET "A[2]" LOC = R19;
NET "A[1]" LOC = T26;
NET "A[0]" LOC = U26;
NET "B[3]" LOC = U23;
NET "B[2]" LOC = V23;
NET "B[1]" LOC = U25;
NET "B[0]" LOC = U24;
NET "Sum[3]" LOC = G5;
NET "Sum[2]" LOC = G6;
NET "Sum[1]" LOC = A11;
NET "Sum[0]" LOC = A12;
NET "Cin" LOC = B6;
NET "Cout" LOC = C6;
